#headerWrapper {
  width: 100%;
  height: 80px;
}

.logo {
  padding: 10px;
  margin-right: 10px;
  font-size: 40px;
  font-family: fantasy;
}

.tagline{
  font-size: 15px;
  margin-top: 50px;
  margin-left: -123px;
  font-family: monospace;
}

.nav-wrapper {
  margin-left: 100px;
  margin-top: 15px;
  font-size: 2em;
}

#bookListWrapper {
  width: 100%;
  padding: 20px;
}

#bookListWrapper input {
  width: 50%;
  margin-bottom: 5px;
}

#bookListWrapper .book {
  border: 2px groove gray;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

#bookListWrapper .book .book-details {
  margin-left: 160px;
}



















