<div id='bookListWrapper' ng-controller='BookListCtrl'>
    <form role='form'>
      <div class='form-group'>
        <input ng-model="anything" type='text' class='form-control' placeholder="Search here..."
      </div>
    </form>

<div>
  <ul class='list-unstyled'>
    <li class='book' ng-repeat='book in books | filter:anything' style='background: url(imgs/{{book.imgUrl}}) no-repeat'>
      <div class='book-details clearfix'>
        <h3>{{book.name}}</h3>
        <p>{{book.price}}</p>
        <ul>
          <li>Rating: {{book.rating}}</li>
          <li>Binding: {{book.binding}}</li>
          <li>Publisher: {{book.publisher}}</li>
          <li>Released: {{book.releaseDate}}</li>
        </ul>
        <p>{{book.details}}</p>
        <button class='btn btn-info pull-right' ng-click=addToKart(book)>Add to Kart</button>
      </div>
    </li>
  </ul>
</div>

</div>
