<div id='bookListWrapper'>
<div>
<h4>Please click on the buy button</h4>
  <ul class='list-unstyled'>
    <li class='book' ng-repeat='book in kart | filter:anything' style='background: url(imgs/{{book.imgUrl}}) no-repeat'>
      <div class='book-details clearfix'>
        <h3>{{book.name}}</h3>
        <p>{{book.price | currency}}</p>
        <ul class='list-unstyled list-inline'>
          <li>Rating: {{book.rating}}</li>
          <li>Binding: {{book.binding |uppercase}}</li>
          <li>Publisher: {{book.publisher}}</li>
          <li>Released: {{book.releaseDate}}</li>
        </ul>
        <p>{{book.details}}</p>
        <button class='btn btn-info pull-right' ng-click='buy(book)'>Buy</button>
      </div>
    </li>
  </ul>
</div>

</div>
